.exploring__title {
    max-width: 522px;
    margin: 0 0 20px;
    font-family: 'Noto Sans', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 0.25px;
    color: #4A4A4A;
  }