.portfolio__title {
    max-width: 437px;
    margin: 0;
    font-family: 'Noto Sans', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.25px;
    color: #4A4A4A;
  }